$bg: hsl(0, 0%, 90%);
$text: hsl(0, 0%, 10%);

body {
  background: $bg;
  color: $text;
  font-family: Inter, sans-serif;
}

article {
  display: block;
  max-width: 80ch;
  margin: 0 auto 0 auto;

  h1 {
    font-size: 2rem;
    text-decoration: solid underline $text 2px;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4, h5, h6 {
    font-size: 1rem;
  }

  table {
    width: inherit;
    border-collapse: collapse;

    th, td {
      padding: 0.5rem;
      border: 1px solid $text;
    }
  }

  img {
    max-width: inherit;
  }

  blockquote {
    width: inherit;
    background: hsla(0, 0%, 0%, 10%);
    margin-left: 0px;
    padding: 0.5rem;
    border-left: 2px solid $text;
  }
}
